%h1 Mon super panel admin
%ul
  %li
    = link_to 'Gérer les utilisateurs', admin_users_path
  %li
    = link_to 'Gérer les jeux', admin_games_path
  %li
    = link_to 'Gérer les vidéos', admin_videos_path
