header {
  & > .nav-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    i.fa-bars {
      color: white;
    }
  }

  nav {
    .nav {
      &>li {
        &>a {
          font-weight: 400;

          &:hover, &:focus {
            background-color: #000;
          }

          &.active {
            color: #feaf1e;
          }
        }
      }
      &.header-button > li {
        float: left;

        & > a {
          padding-bottom: 0;
          padding-top: 0;

          & > button {
            font-weight: 400;
          }
        }
      }
    }
  }
}

div.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary {
  color: #333;
}

.blank_background {
  background: white;
}

.flash_messages {
  color: #fff;

  &.bg-notice {
    background-color: #337ab7;
  }

  &.bg-alert {
    background-color: #e42c2c;
  }

  p {
    padding: 10px;
    margin-bottom: 0;
  }

  .close {
    margin: 10px;
    color: white;
    opacity: 0.8;
    padding-right: 10px;
  }
}

@media (min-width:760px) and (max-width:885px) {
  nav {
      font-size: 11px;
  }
}

@media (max-width:760px) {
  ul.navbar-nav > li > a {
      padding: 12px 0;
  }
}
