%body
  %header#home.header{:role => "banner"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to root_path, class: "navbar-brand" do
          =image_tag logo
      %nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right{:role => "navigation"}
        %ul.nav.navbar-nav.menu
          -menu_header.each do |menu|
            %li
              =link_to menu[:link] do
                =menu[:text]
        %ul.nav.navbar-right.header-button
          - btn_header.each do |menu|
            %li
              =link_to menu[:link], class: menu[:active] ? 'active' : '' do
                %button.btn.btn-primary{ type: "button" }= menu[:text]
