%section#main.section.main
  .container
    .row
      .col-md-5
      .col-md-7
        .lp-element
          %h1{"data-scroll-reveal" => "wait 0.25s, then enter top and move 40px over 1s"}= title
          .blackdiv{"data-scroll-reveal" => "wait 0.35s, then enter left and move 40px over 1s"}
            %p.mainp= text
          %p{"data-scroll-reveal" => "wait 0.35s, then enter left and move 40px over 1s"}
