!!!
%html
  %head
    %title xPlayLivex
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", "name" => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body.blue
  \.preloader
  .backgroundcover

  =render 'layouts/partials/header', header_parameters

  =render 'layouts/partials/title', title: I18n.t('header-title'), text: raw(I18n.t('header-description')), buttons: []

  %section.blank_background
    .container.section
      .row
        =yield

  =render 'layouts/partials/footer', footer_parameters
